# Importing Libraries

In [4]:
import json
import csv 
import pandas as pd

# Loading batting json file and converting it into csv after transformation

In [6]:

json_file_path = 't20_json_files/t20_wc_batting_summary.json'

with open(json_file_path) as json_file:
    data = json.load(json_file)

In [7]:
data[0]['battingSummary'][0:2]

[{'match': 'Namibia Vs Sri Lanka',
  'teamInnings': 'Namibia',
  'battingPos': 1,
  'batsmanName': 'Michael van Lingen',
  'dismissal': 'c Pramod Madushan b Chameera',
  'runs': '3',
  'balls': '6',
  '4s': '0',
  '6s': '0',
  'SR': '50.00'},
 {'match': 'Namibia Vs Sri Lanka',
  'teamInnings': 'Namibia',
  'battingPos': 2,
  'batsmanName': 'Divan la Cock',
  'dismissal': 'c Shanaka b Pramod Madushan',
  'runs': '9',
  'balls': '9',
  '4s': '1',
  '6s': '0',
  'SR': '100.00'}]

In [8]:
d = data[0]['battingSummary'][0].keys()
field_names = list(d)

In [10]:
batting_summary_list = data
csv_file_name = "test/bating_summary.csv"
with open(csv_file_name, mode='w', newline='') as csv_file:
    writer = csv.DictWriter(csv_file, fieldnames=field_names)
    
    writer.writeheader()
    
    for batting_summary in batting_summary_list:
        for val in batting_summary['battingSummary']:
            writer.writerow(val)

print(f"The data has been saved to {csv_file_name}")

The data has been saved to test/bating_summary.csv

In [11]:
df_batting = pd.read_csv("test/bating_summary.csv")
df_batting['dismissal'] = df_batting['dismissal'].apply(lambda x: 'not out' if pd.isna(x) or x.strip() == '' else 'out')
df_batting.to_csv("test/bating_summary.csv");
df_batting = pd.read_csv("test/bating_summary.csv")

df_batting

,Unnamed: 0,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,out,3,6,0,0,50.00
1,1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,out,9,9,1,0,100.00
2,2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,out,20,12,1,2,166.66
3,3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,out,26,24,2,0,108.33
4,4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),out,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...,...
694,694,Pakistan Vs England,England,3,Phil Salt,out,10,9,2,0,111.11
695,695,Pakistan Vs England,England,4,Ben Stokes,not out,52,49,5,1,106.12
696,696,Pakistan Vs England,England,5,Harry Brook,out,20,23,1,0,86.95
697,697,Pakistan Vs England,England,6,Moeen Ali,out,19,13,3,0,146.15
698,698,Pakistan Vs England,England,7,Liam Livingstone,not out,1,1,0,0,100.00

# Loading bowling json file and converting it into csv after transformation

In [12]:
json_file_path = 't20_json_files/t20_wc_bowling_summary.json'

with open(json_file_path) as json_file:
    data = json.load(json_file)

In [13]:
data[0]['bowlingSummary'][0:2]

[{'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Maheesh Theekshana',
  'overs': '4',
  'maiden': '0',
  'runs': '23',
  'wickets': '1',
  'economy': '5.75',
  '0s': '7',
  '4s': '0',
  '6s': '0',
  'wides': '2',
  'noBalls': '0'},
 {'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Dushmantha Chameera',
  'overs': '4',
  'maiden': '0',
  'runs': '39',
  'wickets': '1',
  'economy': '9.75',
  '0s': '6',
  '4s': '3',
  '6s': '1',
  'wides': '2',
  'noBalls': '0'}]

In [14]:
d = data[0]['bowlingSummary'][0].keys()
field_names = list(d)

In [15]:
batting_summary_list = data
csv_file_name = "test/bowling_summary.csv"
with open(csv_file_name, mode='w', newline='') as csv_file:
    writer = csv.DictWriter(csv_file, fieldnames=field_names)
    
    writer.writeheader()
    
    for batting_summary in batting_summary_list:
        for val in batting_summary['bowlingSummary']:
            writer.writerow(val)

print(f"The data has been saved to {csv_file_name}")

The data has been saved to test/bowling_summary.csv

In [16]:
df_bowling = pd.read_csv("test/bowling_summary.csv")
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4.0,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4.0,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4.0,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4.0,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4.0,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

# Loading player_info json file and converting it into csv after transformation

In [26]:
json_file_path = 't20_json_files/t20_wc_player_info.json'

with open(json_file_path) as json_file:
    data = json.load(json_file)

In [27]:
df_players = pd.DataFrame(data)

print(df_players.shape)
df_players.head(10)

(219, 6)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal MendisÃ¢â‚¬,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [29]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('Ã¢â‚¬', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€ ', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [30]:
df_players.to_csv("test/dim_players.csv");
df_players

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c),Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...